In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:/Users/ksh76/Downloads/korea/Enter_korea_by_purpose.csv', engine='python')
type(df)

pandas.core.frame.DataFrame

In [3]:
df

,date,nation,visitor,growth,share,tourism,business,official affairs,studying,others
0,2019-1,China,392814,28.737870,35.555117,320113,2993,138,8793,60777
1,2019-1,Japan,206526,23.606830,18.693468,198805,2233,127,785,4576
2,2019-1,Taiwan,87954,16.003693,7.961057,86393,74,22,180,1285
3,2019-1,Hong Kong,35896,3.533212,3.249086,34653,59,2,90,1092
4,2019-1,Macao,2570,-12.376406,0.232621,2506,2,0,17,45
...,...,...,...,...,...,...,...,...,...,...
955,2020-4,Oceania others,13,-97.239915,0.044195,0,0,0,0,13
956,2020-4,South Africa,22,-98.101812,0.074792,2,0,0,0,20
957,2020-4,Africa others,177,-95.412131,0.601734,11,5,0,11,150
958,2020-4,Stateless,3,-95.312500,0.010199,0,0,0,0,3
959,2020-4,Overseas Korean,698,-96.540101,2.372939,0,0,0,0,698

1.데이터에 대한 설명
이 데이터는 외국인이 한국에 방문하는 목적에 대한 데이터이다.
데이터 자료는 날짜,국가,방문자수,전년 대비 방문자수 증가율, 당월 전체 방문자 비율, 
관광, 사업, 공무, 공부, 기타 순으로 나열되어있다.

2.데이터 탐색 및 분석 포인트 설명
한국에 가장 많이 방문하는 목적을 탐색하고 나라를 분석한다.
가장 많이 방문하는 나라의 날짜별 방문수와 목적을 분석한다.
코로나바이러스 발생 이전과 이후 방문객 수를 비교 분석한다.
코로나바이러스 발생 이전과 이후 방문객의 목적을 비교 분석한다.